@page "/all-professors"

@using StudentSystem.Client.Services.ProfessorServices
@using StudentSystem.Shared.DTOs
@using StudentSystem.Shared.Models
@inject IClientProfessorService ClientProfessorService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>Professors</PageTitle>
<h1>Professors</h1>
<br />


<MudTable Items="ClientProfessorService.professors" Hover="true" Striped="true" Dense="true" Class="mb-2">
    <HeaderContent>
        <MudTh>Image</MudTh>
        <MudTh>First Name</MudTh>
        <MudTh>Last Name</MudTh>
        <MudTh>Contact</MudTh>
        <MudTh>Address</MudTh>
        <MudTh>Birth Date</MudTh>
        <MudTd>Actions</MudTd>
    </HeaderContent>
    <RowTemplate Context="professorDetails">
       
            <MudTd DataLabel="Image"><MudAvatar Image="@professorDetails.Image"></MudAvatar></MudTd>
            <MudTd DataLabel="FirstName">
                @professorDetails.FirstName
            </MudTd>
            <MudTd DataLabel="LastName">
                @professorDetails.LastName
            </MudTd>
            <MudTd DataLabel="Contact">
                @professorDetails.Contact
            </MudTd>
            <MudTd DataLabel="Address">
                @professorDetails.Address
            </MudTd>
            <MudTd DataLabel="Birth Date">
                @professorDetails.BirthDate
            </MudTd>

        <MudTd>
            <MudIconButton OnClick="() => editProfessor(professorDetails.Id)"
                           Icon="@Icons.Material.Filled.Edit"
                           Color="Color.Primary"
                           Variant="Variant.Filled"></MudIconButton>
            <MudIconButton OnClick="() => viewStudents(professorDetails.UserId)"
                           Color="Color.Secondary"
                           Variant="Variant.Filled">View Students</MudIconButton>
        </MudTd>

    </RowTemplate> 
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" OnClick="AddStudent">Add Professor</MudButton>


@code {

    List<Professor> professorDetails = new List<Professor>();

    protected override async Task OnInitializedAsync()
    {
        professorDetails = await ClientProfessorService.GetAllProfessors();
    }

    void RegisterUser()
    {
        NavigationManager.NavigateTo("/register");
    }

    void AddStudent()
    {
        NavigationManager.NavigateTo("/register");
    }

    void viewStudents(int id)
    {
        NavigationManager.NavigateTo($"/view-professor-students/{id}");
    }
   

    void editProfessor(int id) => NavigationManager.NavigateTo($"/professor/{id}");
}
