@page "/view-professor-students"
@page "/view-professor-students/{id:int}"

@using StudentSystem.Client.Services.AuthServices
@using StudentSystem.Client.Services.EnrolledSubjectsService
@using StudentSystem.Client.Services.StudentServices
@using StudentSystem.Client.Services.UserServices
@using StudentSystem.Shared.DTOs
@using StudentSystem.Shared.Models

@inject IClientStudentService ClientStudentService
@inject IClientEnrolledSubjectService ClientEnrolledSubjectService
@inject IClientAuthService ClientAuthService
@inject IClientUserService ClientUserService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
<PageTitle>Enrollment</PageTitle>

<h3>Manage Students</h3>

<MudTable Items="professorStudents" Hover="true" Striped="true" Dense="true" Class="mb-2">
    <HeaderContent>
        <MudTh>Avatar</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Enrollment Date</MudTh>
        <MudTh>Semester</MudTh>
        <MudTh>School Year</MudTh>
    </HeaderContent>
    <RowTemplate Context="Student">
        <MudTd DataLabel="Avatar">
            <MudAvatar>
                <MudImage Src="@Student.Enrollment.Student.Image"></MudImage>
            </MudAvatar>
        </MudTd>

        <MudTd DataLabel="Name">@Student.Enrollment.Student.FirstName @Student.Enrollment.Student.LastName</MudTd>
        <MudTd DataLabel="Enrollment Date">@Student.Enrollment.DateCreated</MudTd>
        <MudTd DataLabel="Address">@Student.Enrollment.Semester</MudTd>
        <MudTd DataLabel="BirthDate">@Student.Enrollment.SchoolYear</MudTd>
    </RowTemplate>
        <NoRecordsContent>
            <MudText>No Students Enrolled Yet</MudText>
        </NoRecordsContent>
</MudTable>

    <p style="height:500px;"></p>
@code
{
    [Parameter]
    public int id { get; set; }

    public List<EnrolledSubjects> professorStudents = new List<EnrolledSubjects>();

    protected override async Task OnInitializedAsync()
    {
        professorStudents = await ClientEnrolledSubjectService.GetProfessorStudentsId(id);
    }
}