@page "/enrollment-details"
@page "/enrollment-details/{id:int}"

@using StudentSystem.Client.Services.EnrolledSubjectsService
@using StudentSystem.Client.Services.ProfessorServices
@using StudentSystem.Client.Services.StudentServices
@using StudentSystem.Client.Services.SubjectServices
@using StudentSystem.Shared.DTOs
@using StudentSystem.Shared.Models

@inject IClientSubjectService clientSubjectService
@inject IClientStudentService clientStudentService
@inject IClientEnrolledSubjectService clientEnrolledSubjectService
@inject IClientProfessorService ClientProfessorService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar


<h3>Enrollment Details</h3>

<MudTable Items="EnrolledSubjects">
    <HeaderContent>
        <MudTh>Subject Name</MudTh>
        <MudTh>Professor Name</MudTh>
        <MudTh>Date Enrolled</MudTh>
        <MudTh>Semester</MudTh>
        <MudTh>School Year</MudTh>

    </HeaderContent>
    <RowTemplate Context="context">
        <MudTd>@context.Subject.Name</MudTd>
        <MudTd>@context.Professor.FirstName @context.Professor.LastName</MudTd>
        <MudTd>@context.Enrollment.DateCreated</MudTd>
        <MudTd>@context.Enrollment.Semester</MudTd>
        <MudTd>@context.Enrollment.SchoolYear</MudTd>
    </RowTemplate>
        <NoRecordsContent>
            <MudText>Not Enrolled Yet</MudText>
        </NoRecordsContent>
</MudTable>

    @code {

    [Parameter]
    public int Id { get; set; }

    List<EnrolledSubjects> EnrolledSubjects = new List<EnrolledSubjects>();


    protected override async Task OnInitializedAsync()
    {
        EnrolledSubjects = await clientEnrolledSubjectService.GetSingleEnrolledSubjects(Id);
    }
}
