@page "/single-enrollment"
@page "/single-enrollment/{id:int}"

@using StudentSystem.Client.Services.EnrolledSubjectsService
@using StudentSystem.Client.Services.StudentServices
@using StudentSystem.Client.Services.SubjectServices
@using StudentSystem.Shared.DTOs
@using StudentSystem.Shared.Models

@inject IClientSubjectService clientSubjectService
@inject IClientStudentService clientStudentService
@inject IClientEnrolledSubjectService clientEnrolledSubjectService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<h3>Enroll Subject</h3>

<EditForm Model="enrollmentDTO" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <MudTextField Label="Semester"
                  @bind-Value="enrollmentDTO.Semester"
                  For="@(() => enrollmentDTO.Semester)" />

    <MudTextField Label="School Year"
                  @bind-Value="enrollmentDTO.SchoolYear"
                  For="@(() => enrollmentDTO.SchoolYear)" />

    <MudDatePicker Label="Date Created"
                   @bind-Date="enrollmentDTO.DateCreated" />

    <MudSelect Label="Subjects" @bind-Value="subject.Id">
        <MudSelectItem Value="0">Select Subject</MudSelectItem>
        @foreach (var subjects in clientSubjectService.subjects)
        {
            <MudSelectItem Value="subjects.Id">@subjects.Name</MudSelectItem>
        }
    </MudSelect>

    <MudButton 
        OnClick=" AddSubject"
        Disabled="(subject.Id != 0 ? false : true)"
        ButtonType="ButtonType.Button" 
        Class="mt-4" Color="Color.Primary" 
        Variant="Variant.Filled"
    >
        Add Subject
    </MudButton>

    <br />
    <div style="border-bottom: 2px solid black; margin-top: 20px; margin-bottom: 20px;"></div>
    <br />

    <h3>Subjects Enrolled</h3>

    <MudTable Items="EnrolledSubjectsList"
              Hover="true"
              Striped="true"
              Dense="true"
              Class="mb-2">

        <HeaderContent>
            <MudTh>Subject Name</MudTh>
        </HeaderContent>
        <RowTemplate Context="subject">
            <MudTd DataLabel="Subject">@clientSubjectService.subjects.First(s => s.Id ==subject.SubjectId).Name</MudTd>
                <MudTd>
                    <MudButton OnClick="@(() => RemoveSubject(subject.SubjectId))"
                               Icon="@Icons.Material.Filled.Remove"
                               Size="Size.Small"
                               ButtonType="ButtonType.Button"
                               Class="mt-4"
                               Color="Color.Primary"
                               Variant="Variant.Filled">
                        Remove
                    </MudButton>

                    <MudSelect Label="Profs" @bind-Value="EnrolledSubjectsList.First(s => s.SubjectId ==subject.SubjectId).ProfessorId">
                        <MudSelectItem Value="0">Select Subject</MudSelectItem>
                        @foreach (Professor prof in GetProf(subject.SubjectId))
                            {
                                <MudSelectItem Value="prof.Id">@prof.FirstName</MudSelectItem>
                            }
                    </MudSelect>
                </MudTd>
            </RowTemplate>
           
        </MudTable>

        <MudButton ButtonType="ButtonType.Submit" Class="mt-4" Color="Color.Primary" Variant="Variant.Filled">
            Enroll
        </MudButton>


        <ValidationSummary />
    </EditForm>



@code {

    [Parameter]
    public int Id { get; set; }

    EnrollmentDTO enrollmentDTO = new EnrollmentDTO();

    // Subject ID 
    EnrolledSubjectsDTO enrolledSubjectsDTO = new EnrolledSubjectsDTO();

    Subject subject = new Subject();

    Professor professor = new Professor(); 

    Student student = new Student();

    List<EnrolledSubjectsDTO> EnrolledSubjectsList = new List<EnrolledSubjectsDTO>();

    // TODO: Make a List of the Professors  

    // Get All Subjects On Initialized
    // Save Subject Name on a Dictionary

    protected override async Task OnInitializedAsync()
    { 
        await clientSubjectService.GetAllSubjects();

        // foreach (var subject in clientSubjectService.subjects)
        // {
        //     subjectNames[subject.Id] = subject.Name;
        // }
        // foreach (var professor in clientSubjectService.subjects)
        // {
        //     professorNames[professor.Id] = professor.Professors;
        // }

    }

    private List<Professor> GetProf(int SubjectId)
    {
        List<Professor> data = clientSubjectService.subjects.First(s => s.Id == SubjectId).Professors;
        return data;
    }

    private void AddSubject()
    {
        if (!EnrolledSubjectsList.Any(s => s.SubjectId == subject.Id) && !EnrolledSubjectsList.Any(s => s.ProfessorId == professor.Id))
        {
            enrolledSubjectsDTO.SubjectId = subject.Id;
            // TODO: Include Professor ID to enrolledSubjectsDTO
            enrolledSubjectsDTO.ProfessorId = 0;
            EnrolledSubjectsList.Add(enrolledSubjectsDTO);
            enrolledSubjectsDTO = new EnrolledSubjectsDTO();
        }
        else
        {
            Snackbar.Add("Subject already exists on the list.", Severity.Warning, config =>
            {
                config.ShowTransitionDuration = 200;
                config.HideTransitionDuration = 400;
                config.VisibleStateDuration = 2500;
            });
        }
    }

    private void RemoveSubject(int id)
    {
        var prodDelete = EnrolledSubjectsList.Find(c => c.SubjectId == id);

        EnrolledSubjectsList.Remove(prodDelete);
        
    }

    async Task HandleSubmit()
    {
        if (Id != 0)
        {
            enrollmentDTO.StudentId = Id;
        }
        enrollmentDTO.EnrolledSubjects = EnrolledSubjectsList;
        await clientEnrolledSubjectService.AddEnrolledSubject(enrollmentDTO);
        StateHasChanged();
    }

    async Task DeleteSubject()
    {
        await clientSubjectService.DeleteSubject(subject.Id);
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            var result = await clientStudentService.GetSingleStudent((int)Id);
            if (result is not null)
                student = result;
            else
                NavigationManager.NavigateTo("/all-enrollment");

        }

    }
}  