@page "/all-students-view"
@using StudentSystem.Client.Services.AuthServices
@using StudentSystem.Client.Services.StudentServices
@using StudentSystem.Client.Services.UserServices
@using StudentSystem.Shared.Models

@inject IClientStudentService ClientStudentService
@inject IClientAuthService ClientAuthService
@inject IClientUserService ClientUserService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
<PageTitle>Enrollment</PageTitle>

<h3>Manage Enrollment</h3>

@if(student == null)
{
    <MudText Typo="Typo.h1">No Valid User</MudText>

}
else
{
    

<MudTable Items="new List<Student> { student }" Hover="true" Striped="true" Dense="true" Class="mb-2">
  
    <HeaderContent>
        <MudTh>Image</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>BirthDate</MudTh>
        <MudTh>Contact</MudTh>
        <MudTh>Address</MudTh>
        <AuthorizeView Roles="Student">
            <MudTh>Actions</MudTh>
        </AuthorizeView>

    </HeaderContent>
    <RowTemplate Context="Student">
        <MudTd DataLabel="Image"><MudAvatar Image="@Student.Image" /></MudTd>
        <MudTd DataLabel="Name">@Student.FirstName @Student.LastName</MudTd>
            <MudTd DataLabel="BirthDate">@Student.BirthDate</MudTd>
            <MudTd DataLabel="Contact">@Student.Contact</MudTd>
            <MudTd DataLabel="Address">@Student.Address</MudTd>
            <AuthorizeView Roles="Student">
                <Authorized>
                    <MudTd>
                        <MudButton OnClick="(() => AddSubject(Student.Id))"
                                   Variant="Variant.Filled"
                                   Size="Size.Small"
                                   Color="Color.Primary">
                            Add Subject
                        </MudButton>
                        <MudButton OnClick="(() => ViewDetails(Student.Id))"
                                   Variant="Variant.Filled"
                                   Size="Size.Small"
                                   Color="Color.Success">
                            View Details
                        </MudButton>
                    </MudTd>
                </Authorized>
            </AuthorizeView>
        </RowTemplate>
    </MudTable>

    <p style="height:500px;"></p>
}
    @code
    {

    public Student? student = new Student();

  

    protected override async Task OnInitializedAsync()
    {
        student = await ClientUserService.GetSingleStudent();
    }

    void AddSubject(int id)
    {
        NavigationManager.NavigateTo($"single-enrollment/{id}");
    }

    void ViewDetails(int id)
    {
        NavigationManager.NavigateTo($"/enrollment-details/{id}");
    }

}