<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StudentSystem.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Info">Dashboard</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/subjects" Icon="@Icons.Material.Filled.Subject" IconColor="Color.Info">Subjects</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/books" Icon="@Icons.Material.Filled.Book" IconColor="Color.Info">Books</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/professors" Icon="@Icons.Material.Filled.Person4" IconColor="Color.Info">Professors</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/students" Icon="@Icons.Material.Filled.Person" IconColor="Color.Info">Students</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/users" Icon="@Icons.Material.Filled.People" IconColor="Color.Info">Users</MudNavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
