@page "/group-chat"
@page "/group-chat/{GroupChatId:int}"

@using StudentSystem.Client.Services.ChatServices
@using StudentSystem.Client.Services.GroupChatServices
@using StudentSystem.Client.Services.UserServices
@using Microsoft.JSInterop;

@inject IDialogService DialogService
@inject IClientChatService ClientChatService
@inject IClientUserService ClientUserService
@inject IClientGroupChatService ClientGroupChatService
@inject NavigationManager NavigationManager
@inject ISnackbar _snackbar
@inject IJSRuntime _jsRuntime

@rendermode InteractiveWebAssembly

<div class="d-flex flex-grow-1 flex-row">

    <!--Group Chat Rooms-->

    <MudPaper Elevation="25" Class="pa-4 ml-6 mud-theme-primary col-md-3">
        <MudToolBar Dense="true" Class="d-flex justify-content-around">
            <MudIcon Icon="@Icons.Material.Filled.Groups" />
            <MudText Typo="Typo.h6">Chat Rooms</MudText>
            <MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Secondary">
                <MudIcon Icon="@Icons.Material.Filled.AddCircle"/>            
            </MudButton>        
        </MudToolBar>
        <div class="d-flex flex-column px-4" style="max-height:70vh;min-height:70vh; overflow:scroll;">
            <MudList Clickable="true">
                @foreach (var group in Groups)
                {
                    <MudListItem OnClick="@(() => LoadUserChat(group.Id))">@group.Name</MudListItem>
                    <MudDivider />
                }
            </MudList>
        </div>
    </MudPaper>

    <!--Group Chat Convo-->

    <MudPaper Elevation="25" Class="py-4 flex-grow-1 col-md-5">
        <MudToolBar Dense="true">
            @if (string.IsNullOrEmpty(GroupChatId.ToString()))
            {
                <MudIcon Icon="@Icons.Material.Outlined.Person"
                         Style="margin-right:10px" />
                <MudText Typo="Typo.h6">chat</MudText>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.ChatBubble"
                         Style="margin-right:10px" />
                <MudText Typo="Typo.h6">@ContactEmail</MudText>
            }
        </MudToolBar>

        <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:scroll;" id="chatContainer">
            @foreach (var message in messages)
            {
                if (message.User.Id.ToString() == CurrentUserId)
                {
                    <div class="d-flex flex-row my-4">
                        <div class="ml-auto mr-4">
                            <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">
                                <MudImage Src="@message.User.Avatar"></MudImage>
                            </MudAvatar>
                        </div>
                        <div class="text-right">
                            <MudText Typo="Typo.body1">@message.User.Email</MudText>
                                <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.Timestamp</MudText>
                                <MudText Typo="Typo.body2" Style="padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">
                                    @message.Content
                            </MudText>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-flex flex-row my-4">
                        <div class="mr-4">
                            <MudAvatar Color="Color.Secondary"
                                       Style="height:50px; width:50px;">
                                <MudImage Src="@message.User.Avatar"></MudImage>
                            </MudAvatar>
                        </div>
                        <div>
                            <MudText Typo="Typo.body1">@message.User.Email</MudText>
                                <MudText Typo="Typo.caption"
                                         Style="font-size: xx-small!important;">
                                    @message.Timestamp
                            </MudText>
                            <MudText Typo="Typo.body2"
                                     Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">
                                @message.Content
                            </MudText>
                        </div>
                    </div>
                }
            }
        </div>
        <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="">
            <MudTextField T="string"
                          Placeholder="Enter your message..."
                          DisableUnderLine="true"
                          Class="mt-n2 mx-4"
                          @bind-Value="CurrentMessage"
                          For="@(()=> CurrentMessage)" />

            <MudButton OnClick="SendMessageAsync"
                       StartIcon="@Icons.Material.Outlined.Send"
                       Color="Color.Secondary"
                       ButtonType="ButtonType.Button">
                Send
            </MudButton>
        </MudPaper>
    </MudPaper>

    <!--Group Chat Members-->
     
    <MudPaper Elevation="25" Class="pa-3 ml-6 col-md-4">
        <MudToolBar Dense="true" Class="d-flex">
            <MudIcon Icon="@Icons.Material.Filled.PermContactCalendar" Style="margin-right:10px" />
            <MudText Typo="Typo.h6">Members</MudText>
        </MudToolBar>

        <div class="d-flex flex-column px-4" style="max-height:70vh;min-height:70vh; overflow:scroll;">
            

            <MudSelect Label="Users" @bind-Value="selectedUserId">
                <MudSelectItem Value="0">Select User</MudSelectItem>
                @foreach (var user in Users)
                {
                    <MudSelectItem Value="user.Id">@user.Email</MudSelectItem>
                }
            </MudSelect>

            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(() => AddUser(selectedUserId, GroupChatId))">Add User</MudButton>

            <MudList Clickable="true">
                @foreach (var user in Members)
                {
                    <MudListItem Class="pa-0 px-2" >
                        <div class="d-flex flex-row mt-n1 mb-n1">
                            <div class="mr-4">
                                <MudBadge Content="3" Overlap="true" Class="my-4">                                                                                                
                                        <MudAvatar Color="Color.Dark"
                                                   Style="height:50px; width:50px;">
                                            <MudImage Src="@user.Avatar"></MudImage>
                                        </MudAvatar>                                  
                                </MudBadge>
                            </div>
                            <div>
                                <MudText Typo="Typo.body2" Class="mt-3 mb-n2">@user.Email</MudText>
                                    <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@user.Id</MudText>
                                </div>
                            </div>
                        </MudListItem>
                }
            </MudList>
        </div> 
    </MudPaper>

</div>

@code {

    [Parameter]
    public int GroupChatId { get; set; }

    [CascadingParameter]
    private HubConnection hubConnection { get; set; }

    public string CurrentMessage { get; set; }
    public string CurrentUserId { get; set; }
    public string CurrentUserEmail { get; set; }
    public string ContactEmail { get; set; }


    private string userInput;
    private string groupInput;

    public List<User> Users = new List<User>();
    private int selectedUserId = 0; // Default value for "Select User"

    private List<GroupChatMessage> messages = new List<GroupChatMessage>();
    public List<GroupChat> Groups = new List<GroupChat>();
    public List<User> Members = new List<User>();



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeAsync<string>("ScrollToBottom", "chatContainer");
    }

    private async Task OpenDialog()
    {
        var parameters = new DialogParameters();
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };
        DialogResult? result = await DialogService.Show<Dialog>("Create Room", parameters, closeOnEscapeKey).Result;


        if (result != null && !result.Cancelled)
        {
            var data = result.Data as GroupChatDTO;

            groupInput = data?.Name;
            Console.WriteLine(groupInput);

            var selectedIds = data?.MembersId;
            await CreateGroupAsync(groupInput, selectedIds);
        }
        else
        {
            Console.WriteLine("Dialog was closed or canceled.");
        }
    }

    async Task LoadUserChat(int groupChatId)
    {

        if (hubConnection.State == HubConnectionState.Connected)
        {
            Console.WriteLine($"Connected: Connection ID: {hubConnection.ConnectionId}");

            var groupName = await ClientGroupChatService.GetGroupName(GroupChatId);
            StateHasChanged();

            Console.WriteLine(groupName);

            if (GroupChatId != 0)
            {
                await hubConnection.SendAsync("RemoveGroup", groupName);
            }

            GroupChatId = groupChatId;

            string passGroupName = await ClientGroupChatService.GetGroupName(GroupChatId);

            await hubConnection.SendAsync("JoinGroup", passGroupName);
            NavigationManager.NavigateTo($"group-chat/{GroupChatId}");

            messages = new List<GroupChatMessage>();
            messages = await ClientGroupChatService.GetConversationAsync(groupChatId);
            Members = await ClientGroupChatService.GetGroupChatMembers(groupChatId);
            ContactEmail = await ClientGroupChatService.GetGroupName(groupChatId);
            StateHasChanged();
        }
    }

   

    protected override async Task OnInitializedAsync()
    {
        CurrentUserId = await ClientUserService.GetUserId();
        Groups = await ClientGroupChatService.GetAllGroup();
        CurrentUserEmail = await ClientUserService.GetUserEmail();
        Users = await ClientGroupChatService.GetUsersAsync();

        if (hubConnection == null)
        {
            hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chat-hub")).Build();
        }

        if (hubConnection.State == HubConnectionState.Disconnected)
        {
            await hubConnection.StartAsync();
        }
        // Register hub methods only when the connection is active
        hubConnection.On<GroupChat>("ReceivedGroupName", async (input) =>
        {
            Console.WriteLine("Connected: Connection ID: " + hubConnection.ConnectionId);
            Groups.Add(input);
            StateHasChanged();
        });

        hubConnection.On<GroupChatMessage>("ReceivedGroupMessage", async (message) =>
        {
            Console.WriteLine("Received Message Connected: Connection ID: " + hubConnection.ConnectionId);

            if (GroupChatId == message.GroupChatId)
                {
                    messages.Add(new GroupChatMessage
                        {
                            Content = message.Content,
                            Timestamp = message.Timestamp,
 
                        });

                }
            StateHasChanged();        
        });


        hubConnection.On<User>("ReceiveUserToAdd", async (message) =>
        {
            Console.WriteLine("Received Message Connected: Connection ID: " + hubConnection.ConnectionId);

            Members.Add(new User
                {
                    Email = message.Email,
                    Avatar = message.Avatar,
                    Id = message.Id
                });

            StateHasChanged();
        });

        if (!string.IsNullOrEmpty(GroupChatId.ToString()))
        {
            await LoadUserChat(GroupChatId);
        }

    }

    // protected override async Task OnInitializedAsync()
    // {
    //     GroupChatList = await ClientGroupChatService.GetAllGroupsForUser();

    //     CurrentUserId = await ClientUserService.GetSingleUserId();

    //     CurrentUserEmail = await ClientUserService.GetSingleUserName();

    //     await ClientUserService.GetAllUser();

    //     if (hubConnection == null)
    //     {
    //         hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();
    //     }

    //     if (hubConnection.State == HubConnectionState.Disconnected)
    //     {
    //         await hubConnection.StartAsync();
    //     }

    //     hubConnection.On<GroupChat>("ReceiveNewGroupChat", async (newGroupChat) =>
    //     {
    //         // Handle the new group chat notification
    //         GroupChatList.Add(newGroupChat);
    //         StateHasChanged();
    //     });

    //     hubConnection.On<GroupChatMessage>("ReceivedGroupMessage", async (message) =>
    //      {

    //          if (GroupChatId == message.GroupChatId)
    //          {
    //              groupChatMessage.Add(new GroupChatMessage
    //                  {
    //                      Content = message.Content,
    //                      Timestamp = message.Timestamp,
    //                      User = new User() { Email = CurrentUserEmail }

    //                  });

    //          }
    //          await InvokeAsync(StateHasChanged);

    //      });


    //     if (!string.IsNullOrEmpty(GroupChatId.ToString()))
    //     {
    //         await LoadUserChat(GroupChatId);
    //     }
    // }

    public async Task SendMessageAsync()
    {
        string currentGroup = await ClientGroupChatService.GetGroupName(GroupChatId);

        if (hubConnection.State == HubConnectionState.Connected)
        {
            if (!string.IsNullOrEmpty(CurrentMessage) && GroupChatId != 0)
            {
                // Save Message to DB
                var chatHistory = new GroupChatMessage()
                    {
                        Timestamp = DateTime.Now,
                        Content = CurrentMessage,
                        GroupChatId = GroupChatId,

                    };

                await ClientGroupChatService.SaveMessagesAsync(chatHistory);

                chatHistory.User = new User { Email = CurrentUserEmail };

                // Call the hub method to send the message to the group
                await hubConnection.SendAsync("SendMessageToGroup", currentGroup, chatHistory);

                CurrentMessage = string.Empty;
            }

            await InvokeAsync(StateHasChanged);

        }
        else
        {
            // Handle the case when the connection is not active
            Console.WriteLine("Connection is not active.");
        }
    }

    // Method to Create a Group Chat
    private async Task CreateGroupAsync(string groupName, List<int>? selectedUsers)
    {
        GroupChatDTO input = new GroupChatDTO()
            {
                Name = groupName,
                MembersId = selectedUsers ?? new List<int>()
            };

        await ClientGroupChatService.CreateGroupChat(input);

        if (selectedUsers != null && selectedUsers.Any())
        {
            // Do something with the selected users
            foreach (var userId in selectedUsers)
            {
                // Perform actions with each selected user
                Console.WriteLine($"Selected User ID: {userId}");
                // You can fetch user details using the userId and perform any necessary actions
                var userDetails = await ClientGroupChatService.GetUserDetailsAsync(userId);
                Console.WriteLine($"Selected User: {userDetails.Id}, {userDetails.Email}");
            }
        }

        await hubConnection.SendAsync("CreateGroup", input);
    }

    private async Task AddUser(int userId, int groupChatId)
    {

        await ClientGroupChatService.AddUserToGroup(userId, groupChatId);

        var input = new AddUserToGroupDTO
        {
            UserId = userId,
            GroupChatId = groupChatId
        };

        string currentGroup = await ClientGroupChatService.GetGroupName(GroupChatId);

        var userToAdd = await ClientGroupChatService.GetUserDetailsAsync(input.UserId);

        await hubConnection.SendAsync("AddToGroup", currentGroup, userToAdd);
    }
}